<!DOCTYPE html>
<html>
  <head>
    <title>Car Mechanic Workshop Booking</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>welcome <%= name %></h1>
      <h1>Book a Slot for Car Mechanic Workshop</h1>
      <form action="/booked" method="POST">
        <div class="form-group">
          <label for="vehicle-company">Vehicle Company:</label>
          <input type="text" class="form-control" id="vehicle-company" name="vehicle-company" required>
        </div>
        <div class="form-group">
          <label for="vehicle-model">Vehicle Model:</label>
          <input type="text" class="form-control" id="vehicle-model" name="vehicle-model" required>
        </div>
        <div class="form-group">
          <label for="issue">Issue:</label>
          <textarea class="form-control" id="issue" name="issue" required></textarea>
        </div>
        <div class="form-group">
          <label for="date">Date:</label>
          <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <div class="form-group">
          <label for="time">Time:</label>
          <input type="time" class="form-control" id="time" name="time" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Book Now</button>
        </div>
      </form>
      <form action="/customer" method="POST">
        <button type="submit" class="btn btn-primary"> Logout </button>
      </form>
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
