<!DOCTYPE html>
<html>
<head >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

<title>AUTOAID</title>
<link rel="stylesheet" href="css/index.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="w-50 p-3"><B>AUTOAID</B></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
            </ul>
            <form action="/" method="POST">
              <button type="submit" class="btn btn-primary"> Logout </button>
            </form>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">S.NO</th>
                  <th scope="col">TASK</th>
                  <!-- <th scope="col">DUE DATE</th> -->
                  <th scope="col">ACTION</th>               
                </tr>
              </thead>
              
              <tbody>
                <%for (var i=0; i<itemName.length; i++){ %>
                <tr>
                  <th scope="row"><%= i+1%></th>
                  <td>
                    <%= itemName[i]%>
                  </td>
                  <!-- <td>
                    itemName[i].date.toLocaleDateString('en-GB');
                  </td> -->
                  <td>
                    <form action="/employee" method="post">
                      <input type="hidden" name="email" value="<%= data.email %>">
                      <button name="checkbox" type="submit" class="btn btn-primary" value= <%= data.works[i] %>>DONE</i></button>
                    </form>
                  </td>
                </tr>
                <% } %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      
</body>
</html>
