<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <!-- Custom CSS Link -->
    <link rel="stylesheet" href="css/index.css" />

    <!-- Google Fonts Link -->
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet" />
    <title>AUTO AID</title>
</head>

<body>
    <header id="home-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">AUTO <span class="text-primary">AID</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html#section-title" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html#container" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <form id="my_form" method="get" action="/customer">
                            <a href="javascript:{}" class="nav-link"
                                onclick="document.getElementById('my_form').submit();" style="color: white;">Book Now
                            </a>
                          </form>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="home-header--bg-image">
            <div class="home-header--title">
                <div class="container p-5">
                    <h1>Experience the Power of Precision Auto Care</h1>
                    <h3 id="reservation-form">Welcome to AUTOAID</h3>
                </div>
            </div>
        </div>
    </header>
    <main>

        <section id="featured-rooms">
            <div class="container my-5 py-5">
                <div id="section-title">
                    <h2>Services Offered</h2>
                </div>
                <div class="row custom-room-cards">
                    <div class="col col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/oilchange.jpg" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="label">Premium</div>
                                <div class="price">&nbsp;$60/day</div>
                            </div>
                            <div class="footer-body">Oil change:</div>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/brake.jpg" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="label">Premium</div>
                                <div class="price">&nbsp;$80/day</div>
                            </div>
                            <div class="footer-body">Brake inspection</div>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/paint.jpg" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="label">Premium</div>
                                <div class="price">&nbsp;$100/day</div>
                            </div>
                            <div class="footer-body">Painting</div>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/transmission.jpg" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="label">Premium</div>
                                <div class="price">&nbsp;$120/day</div>
                            </div>
                            <div class="footer-body">Transmission repair</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="decoration-accomodation">
            <div class="container my-5 py-5">
                <div class="row">
                    <div class="col-md-5">
                        <div class="content">
                            <div class="section-title">
                                <h2>Gallery</h2>
                            </div>
                            <p>

                            </p>
                        </div>
                    </div>
                    <div class="col-md-7 card-container">
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/gallery1.jpg" alt="">
                            </div>
                            <div class="card-footer"> </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/gallery2.jpg" alt="">
                            </div>
                            <div class="card-footer"></div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/gallery3.jpg" alt="">
                            </div>
                            <div class="card-footer"></div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/gallery4.jpg" alt="">
                            </div>
                            <div class="card-footer"></div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/gallery5.jpg" alt="">
                            </div>
                            <div class="card-footer"></div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/gallery6.jpg" alt="">
                            </div>
                            <div class="card-footer"></div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="testimonial-section">
            <div class="container my-5 py-5">
                <div id="section-title">
                    <h2>Testimonials</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="testimonial">
                            <div class="testimonial-body">
                                <img src="/assets/customer1.jpg" alt="">
                                <blockquote>
                                    <p>"Praveen and his team from Grace Auto Repair were very professional and have
                                        communicated well from the moment the car was received in their garage to
                                        inspection, quotation all the way to service completion, I was kept informed of
                                        the progress. They are easy to deal with, honest and fast with their turn-around
                                        time. Kudos to the team and keep up the good work."
                                    </p>
                                    <footer>
                                        <cite>- Roel B</cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonial">
                            <div class="testimonial-body">
                                <img src="/assets/customer2.jpg" alt="">
                                <blockquote>
                                    <p>"As many other people have noted, few business come close to the customer
                                        engagement and communication of Grace workshop. They help keep you updated
                                        throughout the work period and inform of you each change or additional work
                                        needed. They charge for the initial inspection which is expected and they
                                        thoroughly inspect each part of the vehicle for a comprehensive check up. The
                                        list they prepare can include non essential work which you can speak to them
                                        about and have it reduced and their communication was always professional and
                                        helpful. They cover complex work from electrical and AC to basic and paint jobs.
                                        The paint work they did was excellent and it was difficult to differentiate it
                                        from the original parts. While you can get cheaper work from places elsewhere,
                                        they are much more easy to work with and get everything done in one place
                                        without hassle."
                                    </p>
                                    <footer>
                                        <cite>- Saad S</cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="home-banner">
            <div class="banner">
                <div class="container">
                    <div class="jumbotron">
                        <h6>NOTICE</h6>
                        <h3>Thank you for visiting us. We strive to provide the best auto care services for your
                            vehicle. Drive safely!</h3>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="page-footer font-small blue pt-4">
        <div id="container">
            <div class="row">

                <div class="col-md-4 mb-md-0 mb-3">
                    <h5 class="More">Links</h5>
                    <ul class="list-unstyled">

                        <li>
                            <a href="#!">Services</a>
                        </li>
                        <li>
                            <a href="#!">About Us</a>
                        </li>
                        <li>
                            <a href="#!">Login</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 mb-md-0 mb-3">
                    <h5>Book Now</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">LOGIN HERE</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 mb-md-0 mb-3">
                    <h5>Need assistance? We're here to help</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Toll Free no.</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            AUTOAID &copy;2023, All Rights Reserved
        </div>
    </footer>

    <!-- Bootstrap JavaScript Links -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>